@{
	ViewData["Title"] = "Your Itineraries";
}

<h1>Search Through Your Itineraries</h1>

<div class="mb-3">
	<input type="text" class="form-control" id="searchFor" name="searchFor" placeholder="Search for..." />
</div>
<button id="searchItinerariesButton" class="btn btn-primary">Search Itineraries (remote API)</button>

<div id="apiResult" class="mt-3">
	<!-- API call results will be displayed here -->
</div> 