@{
    ViewData["Title"] = "Search Destinations";
}

<h1>Search Destinations</h1>
 
    <div class="mb-3">
        <input type="text" class="form-control" id="searchFor" name="searchFor" placeholder="Search for..." />
    </div>
<button id="searchDestinationsButton" class="btn btn-primary">Search Destinations (local API)</button>

<div id="apiResult" class="mt-3">
    <!-- API call results will be displayed here -->
</div> 