@model List<TravelInspiration.Client.Web.Models.Dto.ItineraryDto>

@{
    ViewData["Title"] = "Your Itineraries";
}

<h1>Search Through Your Itineraries</h1>

<form asp-action="SearchItineraries" method="post">
    <div class="mb-3">
        <input type="text" class="form-control" id="searchFor" name="searchFor" placeholder="Search for..." />
    </div>
    <button type="submit" class="btn btn-primary">Search Itineraries</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>UserId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var itinerary in Model)
        {
            <tr>
                <td>@itinerary.Id</td>
                <td>@itinerary.Name</td>
                <td>@itinerary.Description</td>
                <td>@itinerary.UserId</td>
            </tr>
        }
    </tbody>
</table>